.circular-progress {
  position: relative;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__text {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}
